<mt:setvarblock name="page_title"><__trans phrase="Transporting..."></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
    <style type="text/css" media="screen">
        .dialog #container, .dialog #content { overflow: visible; }
        .dialog .actions-bar { position: static; }
        .readonly, .readonly input { background: #eee; }
        .backup-status { width: auto; }
    </style>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">


<div class="backup-status">

<div id="progress-bar" class="progress-bar"><img src="<mt:var name="static_uri">images/indeterminate-progress-bar.gif" alt="" height="24" width="124" /></div>
    
<pre><__trans phrase="Transporting files into assets in blog" params="<mt:var name="blog_name" escape="html">">
