</pre>
</div>

<script type="text/javascript">
<!--
var progress = getByID("progress-bar");
if (progress) {
    progress.style.display = "none";
}

setTimeout("closeDialog('<mt:var name="script_url">?__mode=list_asset&amp;blog_id=<mt:var name="blog_id">')", 200);
// -->
</script>

<mt:include name="dialog/footer.tmpl">